.premier-treatment {
  &__block {
    margin-bottom: 20px;
    line-height: 1.3;

    span {
      color: #3387a3;
      font-weight: bold;
    }
  }

  &__images {
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;

    img {
      margin-right: 10px;
      margin-bottom: 10px;
      max-width: 100%;
      align-self: flex-start;
      flex-shrink: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}